{% load static %}
<!doctype html>
<html lang="en">

<head>
  {% include 'includes/headsection.html' %}

  {% block css%}
      <link href="{% static 'css/custom/chart.css' %}" rel="stylesheet" />
  {% endblock%}
</head>

<body style="color:white;">
  <div class="wrapper ">

    {% include 'includes/sidebar.html' %}
    <div class="main-panel">
      <!-- Navbar -->
      {% include 'includes/navbar.html' %}
      <div class="content">
        <div class="container-fluid">
          <!-- your content here -->
        {% if messages %}
          {% for message in messages %}
            {% if message.tags == 'error' %}
              <div class="alert alert-danger alert-dismissible fade show m-2">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="material-icons">close</i>
                </button>
                <span>
                  <b> Danger - </b> {{message}}</span>
              </div>
            {% else %}
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show m-2">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="material-icons">close</i>
                </button>
                <span>
                  <b> {{ message.tags }} - </b> {{message}}</span>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}

          {% block bodycontent %}
          {% endblock %}
        </div>
      </div>
      {% include 'includes/footer.html' %}
    </div>
  </div>
</body>
  <!--   Core JS Files   -->
  <script src="{% static 'js/core/jquery.min.js' %}"></script>
  <script src="{% static 'js/core/popper.min.js' %}"></script>
  <script src="{% static 'js/core/bootstrap-material-design.min.js' %}"></script>
  <script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!-- Chartist JS -->
  <script src="{% static 'js/plugins/chartist.min.js' %}"></script>
  <script src="{% static 'js/custom/chart.js' %}"></script>
  {% block javascript %}{% endblock %}
</html>
