{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Voting
{% endblock title %}
{% block bodycontent %}
<div class="container">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Nominees</h4>
        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>agenda</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for nominee in nominees %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ nominee.nominee_id.email }}</td>
                  <td>{{nominee.agenda}}</td>
                  <td><a href="{% url 'voting:vote' election=nominee.election.pk nominee=nominee.pk %}" class="btn btn-primary">Vote</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% include 'includes/paginate.html' %}
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock bodycontent %}
