{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
  {% block bodycontent %}
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">BECOME A LEADER</h4>
                  <p class="card-category">leader profile</p>
                </div>
                <div class="card-body">
                  <form method='POST'>
                    <!-- <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <div class="dropdown">
                            <button class="btn btn-dark" type="button" id="dropdownpost" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Choose your post
  <img src="{% static 'img/drop.svg' %}" alt="noimg"></button>
                              <div class="dropdown-menu" >
                            <a class="dropdown-item" href="#">Cultural Incharge</a>
                            <a class="dropdown-item" href="#">Class Incharge</a>
                            <a class="dropdown-item" href="#">Sort Incharge</a>
                            <a class="dropdown-item" href="#">Music Incharge</a>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating"><img src="{% static 'img/email1.svg' %}" alt="">Email address</label>
                          <input type="email" value="{{ user.email }}" class="form-control" readonly>
                        </div>
                      </div>
                    </div>


                    <div id="div_id_election" class="form-group">
                      <label for="id_election" class="bmd-label-floating requiredField">Election<span class="asteriskField">*</span></label>
                      <select name="election" class="select form-control is-invalid" id="id_election">
                        {% for id, name in form.election.field.choices %}
                          <option value="{{ id }}">{{ name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          {{ form.agenda|as_crispy_field }}
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="font-weight-bold">About Election: </label>
                          <div class="form-group">
                            <label class="small"> *The mandatory rule is that no malpractices would be tolerated. Details will be verified.</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Submit Details</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="javascript:;">
                    <img class="img" src="{% static 'img/faces/marc.jpg' %}" />
                  </a>
                </div>
                <div class="card-body">

                  <h6 class="card-title">Anshul Bahrani</h6>
                  <h4 class="card-category text-gray">CMPN Department</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
