{% load static i18n %}
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Automatic College Election
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            Devansh Ahuja |
            Anshul Bahrani |
            Priya Karsi |
          </div>
          <!-- your footer here -->

        </div>
      </footer>
