<div class="sidebar" data-color="purple" data-background-color="white">
      <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
      <div class="logo">
        <a href="{% url 'home' %}" class="simple-text logo-normal">
          <i class="material-icons">account_balance</i>
          ACE
        </a>
      </div>

<div class="sidebar-wrapper">
        <ul class="nav">
          {% if sidebarSection == 'dashboard' or sidebarSection == null %}
            <li class="nav-item active">
          {% else %}
            <li class="nav-item">
          {% endif %}
            <a class="nav-link" href="{% url 'home' %}">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>

          {% if user.role.role_number == 1 %}
            <!-- your sidebar here -->
          {% if sidebarSection == 'profile' %}
          <li class="nav-item active">
        {% else %}
          <li class="nav-item">
        {% endif %}
          <a class="nav-link" href="{% url 'users:profile' %}">
            <i class="material-icons">account_circle</i>
            <p>View Profile</p>
          </a>
        </li>

        {% if sidebarSection == 'position' %}
          <li class="nav-item active">
        {% else %}
          <li class="nav-item">
        {% endif %}
          <a class="nav-link" href="{% url 'voting:position_list' %}">
            <i class="material-icons">reorder</i>
            <p>Position</p>
          </a>
        </li>

        {% if sidebarSection == 'term' %}
          <li class="nav-item active">
        {% else %}
          <li class="nav-item">
        {% endif %}
          <a class="nav-link" href="{% url 'academics:term_list' %}">
            <!-- <i class="material-icons">reorder</i> -->
            <p>Term</p>
          </a>
        </li>

        {% if sidebarSection == 'department' %}
          <li class="nav-item active">
        {% else %}
          <li class="nav-item">
        {% endif %}
          <a class="nav-link" href="{% url 'academics:department_list' %}">
            <!-- <i class="material-icons">reorder</i> -->
            <p>Department</p>
          </a>
        </li>

        {% if sidebarSection == 'ctcc' %}
          <li class="nav-item active">
        {% else %}
          <li class="nav-item">
        {% endif %}
          <a class="nav-link" href="{% url 'staff:ctcc_list' %}">
            <!-- <i class="material-icons">reorder</i> -->
            <p>CTCC</p>
          </a>
        </li>

        {% if sidebarSection == 'election' %}
          <li class="nav-item active">
        {% else %}
          <li class="nav-item">
        {% endif %}
          <a class="nav-link" href="{% url 'voting:election_list' %}">
            <!-- <i class="material-icons">reorder</i> -->
            <p>Election</p>
          </a>
        </li>
        <!-- <button class="btn btn-danger">{{user.is_admin}}</button> -->
        {% if user.is_superuser %}
          {% if sidebarSection == 'election' %}
            <li class="nav-item active">
          {% else %}
            <li class="nav-item">
          {% endif %}
            <a class="nav-link" href="{% url 'voting:simple_upload' %}">
              <!-- <i class="material-icons">reorder</i> -->
              <p>Upload Excel</p>
            </a>
          </li>
        {% endif %}


          {% else %}
            {% if sidebarSection == 'nominee' %}
              <li class="nav-item active">
            {% else %}
              <li class="nav-item">
            {% endif %}
              <a class="nav-link" href="{% url 'voting:nominee_list' %}">
                <!-- <i class="material-icons">reorder</i> -->
                <p>Nominee</p>
              </a>
            </li>

            {% if sidebarSection == 'voting' %}
              <li class="nav-item active">
            {% else %}
              <li class="nav-item">
            {% endif %}
              <a class="nav-link" href="{% url 'voting:voting' %}">
                <!-- <i class="material-icons">reorder</i> -->
                <p>Vote</p>
              </a>
            </li>

          {% endif %}





        </ul>
  </div>
</div>
