<div class="sidebar" data-color="purple" data-background-color="white">
      <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
      <div class="logo">
        <a href="#" class="simple-text logo-normal">
          ACE
        </a>
      </div>

<div class="sidebar-wrapper">
        <ul class="nav">
          {% if sidebarSection == 'dashboard' %}
            <li class="nav-item active">
          {% else %}
            <li class="nav-item">
          {% endif %}
            <a class="nav-link" href="{% url 'home' %}">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <!-- your sidebar here -->
          {% if sidebarSection == 'position' %}
            <li class="nav-item active">
          {% else %}
            <li class="nav-item">
          {% endif %}
            <a class="nav-link" href="#">
              <i class="material-icons">account_circle</i>
              <p>View Profile</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'voting:position_list' %}">
              <i class="material-icons"></i>
              <p>Position</p>
            </a>
          </li>
        </ul>
  </div>
</div>
